 h1
 main{font-size:large;
}
head{
   background-color: blue;
}
p

{.Happy Trails{font-size: 100rem;
   font-style: <style>
   @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&display=swap');
   </style>
}
 {font-family: 'Josefin Slab', serif;
height: 1px;
text-align: center;
 border-left-style:dotted
}
h2{url
  text-align: right:
 border-radius: display: 1rem;

}
{h1
:font-family: 'Josefin Slab', serif;
letter-spacing: 1rem;

html body main input{
   color: yellow;
}