/* Primary Navigation */ 

ul li {
   display: flex;
   justify-content: center;

   list-style: inside;

   padding: 0;
}

ul{
   margin: 0;

   max-width: 100%;

   list-style: inside;
}

    @media (width > 50em) {
    ul, li {
     display: flex;
     justify-content: center;
       }
  }
  